@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700&display=swap');

$default-color: #110811;

$font-family: 'Source Sans Pro', sans-serif;

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  box-sizing: border-box;
}

::selection {
  background: #000;
  color: rgba(255,255,255,.6)
}

body {
  background-color: #151515;
  font-family: $font-family;
  color: #FFF;
  line-height: 150%;
  font-size: 1.1rem;
}

button {
  font-family: $font-family;
  font-size: 1.1rem;
}

.app {
  width: 50%;
  margin: 0 auto;
  max-width: 1300px;
}